.main-header{
    background: url("../img/post-image.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;

.main-header__title{
    font-family: $playfair-display;
    font-weight: 900;
    font-style: italic;
    font-size: 4rem;
    }

@media (max-width: 768px) {
    .main-header__title{
        font-size: 3rem;
    }
}

.main-header__arrows {
    font-size: 3em;
    transition: .3s;
&:hover{
    font-size: 3.5em;
    }  
    }

}