.post{
    border-bottom: 1px solid $light-gray;
    width: 100%;
}

.content-post{
    min-height: 100vh;

.content-post__date{
    color: $nickel;
    font-family: $playfair-display;
    font-weight: 400;
    }

.content-post__text{
    font-family: $roboto;
    font-size: $medium;
    font-weight: 300;
    line-height: 200%;
    }
}

.text-pink{
    color: $ruddy-pink;
    font-weight: 400;
}

.author{

&__photo{
    overflow: hidden;
    border-radius: 50%;
    border: solid 1px $light-gray;
    }

&__info{
    width: inherit;
    h2{
        font-family: $playfair-display;
        font-weight: 900;
        font-style: italic;
        }
    }

.author__comment{
    font-family: $roboto;
    font-weight: 400;
    font-size: $medium;
    color: $nickel;
    line-height: 200%;
}

@media (max-width: 768px) {
    .author__info{
        text-align: center;
    }
    }   
}